.mixedTextWrapper {
  position: relative;
  display: flex;
}

.mixedTextWrapper > div {
  width: 100%;
  height: 20px;
}

.mixedTextWrapper > div:first-of-type {
  background-color: white;
}

.mixedTextWrapper > div:last-of-type {
  background-color: black;
}

.text {
  position: absolute;

  color: white;
  mix-blend-mode: difference;

  animation-name: translating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes translating {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1300px);
  }
}
